<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/auth/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="oldPassword" class="sr-only">Old password</label>
            <input type="text" id="oldPassword" name="oldPassword" class="form-control" placeholder="Old password" required
                   autofocus>
        </p>
        <p>
            <label for="newPassword" class="sr-only">New password</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Password" required>
        </p>
        <p>
            <label for="newPasswordConfirm" class="sr-only">Confirm new password</label>
            <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
    </form>
</div>
</body>
</html>